extends layouts/admin
block content
  form(action='/user/login' method='POST')
    input(type="text" name="email" placeholder="Email" class="form-control mb-2")
    input(type="password" name="password" placeholder="Password" class="form-control mb-2")

    button.btn.btn-primary Login
  