nav.navbar.navbar-expand-lg.bg-light
    .container-fluid
    a.navbar-brand(href="#") Home
    .collapse.navbar-collapse#navbarNav
        ul.navbar-nav
        li.nav-item
            a.nav-link(href="#") User
        li.nav-item
            a.nav-link(href="#") Login
        li.nav-item
            a.nav-link(href="#") Logout